<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{%=o.htmlWebpackPlugin.files.favicon%}" rel="shortcut icon">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <navigation></navigation>
    <p>About</p>
</body>
</html>