<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "<%= htmlWebpackPlugin.files.favicon %>" rel="shortcut icon">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <h5>It was replaced and renamed</h5>
    <div class="card" style="width: 18rem;">
        <img src="assets/img/mint_bage.png" class="card-img-top" alt="SmartMedInterface">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <img src="/assets/img/mint_bage.png" alt="">
<body>
    <navigation></navigation>
    <p>Index</p>
</body>
</html>